version: '3.8'

services:
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_HEALTH_ENABLED=true
    ports:
      - "8180:8080"
    command: start-dev
    networks:
      - app-network
    healthcheck:
      # Using /health/live for a simple liveness check
      test: ["CMD-SHELL", "echo" ] #"exec 3<>/dev/tcp/127.0.0.1/8080; echo -e 'GET /health/live HTTP/1.1\r\nhost: localhost\r\nConnection: close\r\n\r\n' >&3; grep -q '200 OK' <&3"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: spring-app
    ports:
      - "8080:8080"
    environment:
      # INTERNAL communication uses service name and internal port
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://keycloak:8080/realms/demo
      # Optional: Some Spring versions require the JWK Set URI explicitly if the issuer check fails
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://keycloak:8080/realms/demo/protocol/openid-connect/certs
    depends_on:
      keycloak:
        condition: service_healthy
    networks:
      - app-network

networks:
  app-network:
    driver: bridge